@import "colores";
@import "fuentes";
@import "funciones";

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente;
  background-color: $color-principal;
}

nav{
  background-color: $color-secundario-fondos;
  
  .buttons-var{
    display: flex;
    align-items: flex-end;
    margin: 0 100px 0 100px;
    padding: 10px 0 10px 0;
  }
}

a{
  text-decoration: none;
}

.botones-principales{
  @include botones-estilo;
}
//Termina nav

//Inicio main
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.div-informacion{
  @include contenedores;
  @include displays();
}

.div-informacion-bloque{
  background-color: $color-tercero;
}

.div-servicios{
  @include contenedores;
  @include displays();
}

.div-farmacia{
  @include contenedores;
  @include displays();
}

.div-info-extra{
  @include contenedores;
  @include displays();
}